MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=housing_analytics
MYSQL_USER=housing_user
MYSQL_PASSWORD=housing_password
SOURCE_CSV=data/raw/aus_housing_messy_2021-2023_jan-dec_nsw-qld-vic.csv
SOURCE_SYSTEM=australian_housing_data_quality_simulator
